![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [40]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [14]:
ejer_2 = [1,2,3,4,5]


for num in ejer_2:
    print(num **2)

1
4
9
16
25

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [57]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]
new_3 = []

ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]
nueva_lista= []

for elemento1 in ejer_3_1:
    for elemento2 in ejer_3_2:
        nueva_lista.append(elemento1 + " " + elemento2)
        
print(nueva_lista)      

ejer_3_1.append("carlos")
print(ejer_3_1)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']
['Hola', 'amigo', 'carlos']

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [44]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]


indice = ejer_4.index(45)
ejer_4[indice]= 0
print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [45]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

nuevo_ejer= []

for num in ejer_5:
    if num !=3:
        nuevo_ejer.append(num)
print(nuevo_ejer)

[20, 47, 19, 29, 45, 67, 78, 90]

In [53]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

while True:
    if 3 in ejer_5:
        ejer_5.remove(3)
    else:
        break

In [61]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

ejer_5.remove(3)
print(ejer_5)

#aqui solo estamos eliminando el primer 3 de la lista porq no hemos hecho un bucle

[20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [26]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

while True:
    if 3 in ejer_5:
        ejer_5.remove(3)
    else:
        break 

 
print(ejer_5)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [93]:
#añadir una tupla= suma y crea otra tupla
tupla_1= ("ali", "juan", "carlos")
tupla_2 = ( False)
type(tupla_2)
tupla_2= ("ali", 22, "juan", True )
print(tupla_2[0]) #emepzando desde el princpio siempre se empieza desde 0 
print(tupla_2[3]) 
print(tupla_2[-1]) #empezando desde el final siempre se empieza desde -1
print(tupla_2[-3])
print(tupla_2[len(tupla_2)-1]) #si quisieras buscar el ult termino usando len
print(tupla_2[-1]) 

#para añadir un termino nuevo a la tupla primero has de pasarlo a lista porq son inmmutables 
lista_2= list(tupla_2)
lista_2.append("carlos")
print(lista_2)

#eliminar termino por su nombre 
lista_2.remove(22)
print(lista_2)

#eliminar termino por su posicion

lista_2.pop(1)
print(lista_2)

#convierte la lista del apartado 5 en una tupla (he cambiado el enunciado)

tupla_3= tuple(lista_2)
print(tupla_3)


#index 

months= [ "enero", "febrero", "marzo"]
print(months[len(months)-1])

ali
True
True
22
True
True
['ali', 22, 'juan', True, 'carlos']
['ali', 'juan', True, 'carlos']
['ali', True, 'carlos']
('ali', True, 'carlos')

In [6]:
months = ["Enero", "Febrero", "Marzo"]
print(months[0])
print(months[-1])
print(months[len(months)-1]) 
months.index("Enero")

Enero
Marzo
Marzo

0

In [12]:
#obtener el índice de esos valores dentro de la lista
lista = [1,10,100, 100]
print(lista.index(10))
months.index("Marzo")

1

2

In [13]:
degrees = [22, 34, 15, 26, 18, 25]
degrees[0:-1]

[22, 34, 15, 26, 18]

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [102]:
ejer_7 = ("cien", "cañones", "por", "banda")

nuevo_ejer= ' '.join(ejer_7)   #el espacio es para q haya separacion 
print(nuevo_ejer)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [99]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posición 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
4. Comprueba si el numero 60 está en la tupla
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [1]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
ejer_9.count(3) 

ejer_9_nueva= ejer_9[5:10]  #desde la posicion 5 a la 9 se usa : 
print(ejer_9_nueva) 

print(len(ejer_9))


#Comprueba si el numero 60 está en la tupla

if elemento in ejer_9== 60:
    print("si q esta")
else:
    print("no esta")    


60 in ejer_9

(3, 29, 45, 67, 78)
26

NameError: name 'elemento' is not defined

marzo

## Ejercicio 10
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los índices

In [23]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

#lista
print(list(ejer_9))

#set
print(set(ejer_9))

#diccio

my_dict = {}

for clave, valor in enumerate(ejer_9):
    my_dict[clave]= valor 

print(my_dict)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

In [16]:
comida = ["manzana", "pan", "queso", "uvas"]
intestino = []
comida= len(comida)
print(comida)  #aqui ya tenemos una lista 
for i in range(len(comida)):
    intestino.append(comida.pop(-1))

4

In [134]:
ejer_9_set = set(ejer_9)
print(ejer_9_set)

{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [17]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
diccionario_11 = {}

for clave, valor in (ejer_11):
    diccionario_11[clave]= valor

print(diccionario_11)    

#forma mas sencilla 

diccio1 = dict(ejer_11)
print(diccio1)

{'x': 3, 'y': 2, 'z': 1}
{'x': 3, 'y': 2, 'z': 1}

In [34]:
# en este caso no tienes q hacer lo del for porq ya estan creadas las clave-valor 
tienda = {}
tienda['Direccion'] = ["Avenida 1", "Avenida 2"]
tienda['Tamaño'] = [110, 90]
print(tienda)

{'Direccion': ['Avenida 1', 'Avenida 2'], 'Tamaño': [110, 90]}

In [3]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
diccio= {}
for key, value in (ejer_11):
    diccio[key] = value 

print(diccio)

{'x': 3, 'y': 2, 'z': 1}

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [30]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}



for clave, valor in enumerate(ejer_12):
    diccio[clave]= valor

print(diccio)    

#lista ascendente 

print(sorted(ejer_12.keys()))  #no cambia la lista original

print(sorted(ejer_12.keys(), reverse= True))

#nueva clave valor

ejer_12[6]= 33
print(ejer_12)

#buscar clave 

if 2 in ejer_12:  #solo verifica las claves, no los valores con el if , si quisieras buscar el valor pondrias if 98 in ejer_12.values():
    print ("existe")

#Itera la clave y el valor del diccionario con un único for --> se usa siempre la funcion items 

for clave, valor in ejer_12.items():
    print(f"Clave: {clave}, Valor: {valor}")

#iterar
#sobre valores --> .values()
#sobre clave --> .keys() / nada directamente 
#ambos --> .items ()

for clave in ejer_12:
    print(f"clave: {clave}")

for valor in ejer_12.values():
    print(f"valor= {valor}")

{'x': 3, 'y': 2, 'z': 1, 0: 4, 1: 2, 2: 8, 3: 5}
[2, 4, 5, 8]
[8, 5, 4, 2]
{4: 78, 2: 98, 8: 234, 5: 29, 6: 33}
existe
Clave: 4, Valor: 78
Clave: 2, Valor: 98
Clave: 8, Valor: 234
Clave: 5, Valor: 29
Clave: 6, Valor: 33
clave: 4
clave: 2
clave: 8
clave: 5
clave: 6
valor= 78
valor= 98
valor= 234
valor= 29
valor= 33

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [9]:
ejer_13_1 = {1: 11, 2: 22}
ejer_13_2 = {3: 33, 4: 44}

ejer_13_1.update(ejer_13_2)
print(ejer_13_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [48]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
suma= 0 

for valor in ejer_14.values():
    suma = suma + valor

print(suma)

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [47]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
mult= 1
for valor in ejer_15.values():
    mult = mult * valor 
    
print(mult)

19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [61]:
set = {1,2,3,4}


set.add(7)
print(set)

set.remove(7)
print(set)

{1, 2, 3, 4, 7}
{1, 2, 3, 4}

SLICING 
[start,stop,step]
El stop es exclusivo es decir no coge el ultimo numero )

In [14]:
degrees = [22, 34, 15, 26, 18, 20]
print(degrees)
degrees[::-3]
[20, 15] 
print(degrees[-2:]) #Seria desde el 18 hasta el 20 

# todos los n desde el principio al final
#el range te esta indicando q empiezes desde el final y cada 3

[22, 34, 15, 26, 18, 20]

[20, 15]